* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #ffffff;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    position: relative;
    z-index: 1;
}

.title {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;

}

/* Ensure SplitText characters can transform independently */
.title span {
    display: inline-block;
}

.elements-wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
}

.box,
.drag,
.circle {
    width: 120px;
    height: 120px;
}

.box {
    border-radius: 12px;
    background-color: rgb(255, 101, 101);
}

.drag {
    background-color: rgb(207, 255, 135);
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}

.unselectable {
    user-select: none;
    /* Standard syntax */
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

.circle {
    border-radius: 50%;
    background-color: aqua;
}

.control-btn {
    padding: 12px 24px;
    font-size: 1rem;
    background-color: #2a2a2a;
    color: white;
    border: 1px solid #444;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-container {
    display: flex;
    gap: 10px;
}

#PauseBtn {
    background-color: red;
}

#PlayBtn {
    background-color: yellowgreen;
}

.control-btn:hover {
    background-color: #444;
}

.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(176, 92, 255);
    border-radius: 5px;
}